# dotenv environment variable files 
.env
.env.development.local
.env.test.local
.env.production.local
.env.local

# EaC Runtime build directory
_eac-runtime/
node_modules/

# State 
denoKv/

# Testing
cov/
